.wrapper
  = render partial: 'posts/parts/header'
  .top-banner
    .top-title 美味しいものを食べてこその人生なのである
    = link_to posts_path, class: "top-btn" do
      ディナーに参加する
  = render partial: 'posts/parts/footer'