.main-page-sign-in{
  width: 25%;
  margin: 0 auto;
  text-align: left;
  position: relative;
}
.main-innner {
  padding: 30px 0 30px 0;
}
.sign-btn {
  transition: 0.2s;
  margin: 40px 0 50px 0;
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  overflow: hidden;
  border: 1px solid #888;
}
.hheader {
  font-size: 24px;
  text-align: center;
  font-family: "Montserrat",sans-serif;
  color: #222;
  width: 100%;
  margin: 50px auto 30px auto;
}
